.form-error {
  color: red;
}

.center_stepprocess .form-group .form-control {
  margin-bottom: 11px;
}

.check-out {
  background: none !important;
  background-repeat: no-repeat;
  background-position: right;
}


.form-group {
  position: relative;
}
