<app-layout>
  <router-outlet>
    <div class="content-wrapper" *ngIf="serviceProviderServices">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Users</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>User Type</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let serviceProvider of serviceProviderServices.data;
                  let indexOfElement = index
                "
              >
                <td>{{ serviceProvider.name }}</td>
                <td>{{ serviceProvider.email }}</td>
                <td>
                  +{{ serviceProvider.countryCode }} {{ serviceProvider.phone }}
                </td>
                <td>{{ serviceProvider.status }}</td>
                <td>{{ serviceProvider.type }}</td>
                <td>
                  {{ details[indexOfElement].response.address }},
                  {{ details[indexOfElement].response.city }},
                  {{ details[indexOfElement].response.landmark }},
                  {{ details[indexOfElement].response.state }},
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->

        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info"
              id="example2_info"
              role="status"
              aria-live="polite"
            >
              Showing 20 for page
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="example2_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="example2_previous"
                >
                  <a
                    aria-controls="example2"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    (click)="previousPage(); $event.preventDefault()"
                    href="/admin/service-provider?page={{ currentPage }}"
                    >Previous</a
                  >
                </li>
                <li
                  *ngFor="let page of pageNumber"
                  class="paginate_button page-item"
                  [ngClass]="page == currentPage ? 'active' : ''"
                  (click)="
                    getNextPageServiceProvides(page); $event.preventDefault()
                  "
                >
                  <a
                    href="/admin?page={{ page }}"
                    aria-controls="example2"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    >{{ page }}</a
                  >
                </li>
                <li class="paginate_button page-item next" id="example2_next">
                  <a
                    aria-controls="example2"
                    data-dt-idx="7"
                    tabindex="0"
                    class="page-link"
                    (click)="nextPage(); $event.preventDefault()"
                    href="/admin/service-provider?page={{ currentPage }}"
                    >Next</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </router-outlet>
</app-layout>
