body {
	font-weight: normal;
	line-height: 1.5;
	font-family: 'Circular Std Book';
	color: #7e8085;
	-webkit-font-smoothing: antialiased;
	position: relative;
	font-size: 15px;
	/* height: 5400px;
	 background: url(../images/ddd.jpg) 0 0 no-repeat; */
}

img {
	max-width: 100%;
}

a,
a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

ul {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 55px;
	margin: 0px;
	font-family: 'Circular Std Book';
}

h2 {
	font-size: 48px;
	color: #000;
	margin: 0px;
	font-family: 'Circular Std Book';
	letter-spacing: 2px;
	font-weight: bold;
}

h3 {
	font-size: 28px;
	margin: 0px;
	font-family: 'Circular Std Book';
}

h4 {
	font-size: 20px;
	margin: 0px;
	font-family: 'Circular Std Book';
}

h5 {
	font-size: 16px;
	margin: 0px;
	line-height: 1;
	font-family: 'Circular Std Book';
}

p {
	margin: 0px;
}

figure {
	margin: 0px;
}

button:focus {
	outline: none;
}

input,
textarea {
	font-family: Montserrat;
}

.btn {
	min-width: 140px;
	height: 50px;
	line-height: 50px;
	padding: 0px 10px;
	text-align: center;
	background-color: #1fa8e5;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	border-radius: 2px;
}

@media (min-width: 1400px) {
	.container {
		width: 1365px;
		max-width: 1365px;
	}

	.footer .container {
		width: 1430px;
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

/* Fonts */
@font-face {
	font-family: 'Circular Std Book';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
	font-family: 'Circular Std Black';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
	font-family: 'Circular Std Bold';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Circular Std Medium';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}

/* form Font */

@font-face {
	font-family: 'gilroy-medium';
	src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
		url('../fonts/gilroy-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gilroy-mediumital';
	src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),
		url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gilroy-regular';
	src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
		url('../fonts/gilroy-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gilroy-semibold';
	src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
		url('../fonts/gilroy-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/* Style */

/* Header */
.header_bar {
	padding: 27px 0px 30px;
	border-bottom: solid 0.5px rgba(46, 47, 51, 0.14);
	background-color: #f6f8fd;
}

.navigation {
	padding-right: 87px;
}

.navigation ul li {
	float: left;
	list-style: none;
	margin-left: 0;
	position: relative;
	padding: 15px 15px 10px;
}

.navigation ul li a {
	font-size: 14px;
	font-weight: normal;
	color: #2a2134;
	display: block;
}

.menu {
	border: none;
	background: url(../images/menu_btn.svg) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	background-size: contain;
	margin: 0;
	outline: none !important;
	position: absolute;
	right: 15px;
	top: 9px;
}

.navigation ul li a.loginsign {
	padding: 12px 16px;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	border-radius: 2px;
	background-image: linear-gradient(106deg, #56ccf2, #2f80ed);
	box-shadow: 5px 5px 10px 0 rgba(47, 128, 237, 0.12);
}

.navigation ul li:last-child {
	padding: 0px;
	margin-left: 27px;
}

/* Banner */
.banner {
	position: relative;
	overflow: hidden;
}

.homebanner {
	padding: 31px 0px;
	position: relative;
	background: #f6f7fc;
}

.homebanner:before {
	content: "";
	position: absolute;
	top: 0px;
	right: -60px;
	height: 100%;
	width: 60%;
	background: url(../images/banner_bg.svg) no-repeat 0 0;
}

.text_banner {
	text-align: center;
}

.text_banner h2 {
	font-size: 46px;
	font-weight: bold;
	text-align: center;
	color: #001839;
	margin-top: -13px;
	letter-spacing: 1px;
}

.text_banner span {
	font-size: 24px;
	font-weight: normal;
	line-height: 2.5;
	color: #001839;
	display: block;
}

/* Section */
.portal_certificate {
	padding: 120px 0px 225px;
	background: url(../images/rectangle_bg.svg) no-repeat left bottom;
	background-size: cover;
}

.process_ab {
	padding: 83px 48px 0px 0px;
}

.process_ab p {
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	color: #404a57;
	margin-bottom: 35px;
}

/* Section */
.certificates_habit {
	padding-bottom: 185px;
}

.center_heading {
	text-align: center;
}

.center_line {
	margin: 23px auto 0px;
	width: 100px;
	height: 6px;
	border-radius: 5px;
	background-color: #2476e2;
	display: block;
}

.occupancy_more {
	max-width: 406px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
	border: solid 1px rgba(112, 112, 112, 0.27);
	overflow: hidden;
	padding: 18px 13px 53px 35px;
	margin: 92px auto 0;
	position: relative;
}

.text_tenant {
	float: left;
	width: calc(100% - 50px);
}

.iconstyle {
	float: left;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.icon_properties {
	background: url(../images/icon_certificate.svg) no-repeat 0 0;
}

.icon_habitability {
	background: url(../images/icon_habitability.svg) no-repeat 0 0;
}

.icon_occupancy {
	background: url(../images/icon_occupancy.svg) no-repeat 0 0;
}

.text_tenant h3 {
	font-size: 21px;
	font-weight: 500;
	line-height: 1.14;
	color: #202020;
	font-family: 'Circular Std Medium';
	margin: 13px 0px 0;
	min-height: 27px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.text_tenant p {
	min-height: 102px;
	padding-right: 33px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.73;
	color: #404a57;
	margin-bottom: 0px;
}

.text_tenant p b {
	font-size: 16px;
	font-weight: bold;
}

.text_tenant a {
	margin-top: 16px;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 35px;
}

.right_checkbar {
	position: relative;
	left: -36px;
	top: -8px;
}

/* Howitwork */

.work_required {
	padding: 88px 0px 170px;
	background: #f7faff url(../images/work_blobk_bg.svg) 0 0 no-repeat;
}

.step_policy {
	background: url(../images/round_line.svg) no-repeat 0 0;
	margin-top: 135px;
	margin-left: 47px;
}

.step_application {
	max-width: 320px;
	text-align: center;
	margin: 0 auto;
}

.min_hsame {
	min-height: 400px;
}

.topnumber {
	width: 54px;
	height: 54px;
	line-height: 54px;
	background-color: #f2f2f2;
	border-radius: 50%;
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	color: #2970fb;
	margin: -25px auto 16px;
}

.application_line p {
	opacity: 0.8;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	text-align: center;
	color: #2a2134;
}

/* Inspection_Section */
.inspection_sec {
	padding: 115px 0px 32px;
}

.inspection_sec .center_heading span {
	font-size: 25px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	color: #787878;
	margin: 23px 0px;
	display: block;
}

.uptabs {
	margin-top: 10px;
}

.uptabs .nav-tabs {
	border: none;
	display: block;
	text-align: center;
}

.uptabs .nav-tabs .nav-item.show .nav-link,
.uptabs .nav-tabs .nav-link.active {
	border: none;
}

.uptabs .nav-tabs .nav-item {
	display: inline-block;
}

.uptabs .nav-tabs .nav-item a {
	font-size: 25px;
	font-weight: 500;
	line-height: 1;
	color: #787878;
	background-color: transparent;
	position: relative;
	padding: 0px 0px 0px 33px;
	border: none;
}

.uptabs .nav-tabs .nav-link:focus,
.uptabs .nav-tabs .nav-link:hover {
	border: none;
	background-color: transparent;
}

.uptabs .first_tab .nav-item a:before {
	content: "";
	width: 26px;
	height: 26px;
	border: solid 1px #848484;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.uptabs .first_tab .nav-item a:after {
	content: "";
	width: 18px;
	height: 18px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	top: 4px;
}

.uptabs .first_tab .nav-item:last-child {
	margin-left: 78px;
}

.uptabs .first_tab .nav-link.active {
	font-size: 25px;
	font-weight: 500;
	line-height: 1;
	color: #47aef0;
}

.uptabs .first_tab .nav-link.active:before {
	border-color: #3f9eef;
}

.uptabs .first_tab .nav-link.active:after {
	background: #3f9eef;
}

.uptabs .topmt_space {
	margin-top: 60px;
}

.uptabs .inner_tabs_penal .nav-tabs .nav-item {
	min-width: 166px;
	height: 45px;
	border-radius: 2px;
	border: solid 1px #1fa8e5;
	background-color: #ffffff;
	text-align: center;
	line-height: 45px;
	margin: -1px -4px;
}

.uptabs .inner_tabs_penal .nav-tabs .nav-item a {
	padding: 0px;
	line-height: 45px;
	font-size: 23px;
	font-weight: normal;
	color: #1fa8e5;
}

.uptabs .inner_tabs_penal .nav-tabs .nav-link.active {
	border-radius: 2px;
	background-image: linear-gradient(102deg, #56ccf2, #2f80ed);
	color: #fff!important;
	/* margin-top: 0px; */
}

.mt_space1 {
	margin-top: 88px;
}

.left_link {
	margin: 0px;
	padding: 30px 27px 20px;
	float: left;
	width: 371px;
	border-radius: 4px;
	border: solid 1px #1fa8e5;
}

.left_link ul {
	padding-right: 40px;
}

.left_link ul li {
	list-style: none;
	line-height: 1;
	border-bottom: 1px solid #f1f1f1;
	padding: 29px 0px;
}

.left_link ul li:first-child {
	padding-top: 0px;
}

.left_link ul li:last-child {
	border-bottom: none;
}

.left_link ul li a {
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	color: rgba(32, 32, 32, 0.50);
	transition: color 0.3s;
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.left_link ul li a .iconlist {
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: 0px 23px 0px 6px;
	transition: color 0.3s;
}

.accessory_icon {
	background: url(../images/structures-icon1.svg) no-repeat 0 0;
}

.chimneys_icon {
	background: url(../images/structures-icon2.svg) no-repeat 0 0;
}

.foundation_icon {
	background: url(../images/structures-icon3.svg) no-repeat 0 0;
}

.landscape_tabs {
	background: url(../images/structures-icon4.svg) no-repeat 0 0;
}

.paint_icon {
	background: url(../images/structures-icon5.svg) no-repeat 0 0;
}

.left_link ul li a:hover,
.left_link ul li a.active {
	color: #2f80ed;
}

.left_link ul li a:hover .accessory_icon {
	background: url(../images/structures-icon1-col.svg) no-repeat 0 0;
}

.left_link ul li a:hover .chimneys_icon {
	background: url(../images/structures-icon2-col.svg) no-repeat 0 0;
}

.left_link ul li a:hover .foundation_icon {
	background: url(../images/structures-icon3-col.svg) no-repeat 0 0;
}

.left_link ul li a:hover .landscape_tabs,
.left_link ul li a.active .landscape_tabs {
	background: url(../images/structures-icon4-col.svg) no-repeat 0 0;
}

.left_link ul li a:hover .paint_icon {
	background: url(../images/structures-icon5-col.svg) no-repeat 0 0;
}

.heightfixed {
	height: 385px;
	overflow: hidden;
}

.attached_cleaned {
	float: left;
	width: calc(100% - 375px);
	padding: 27px 0px 0px 140px;
}

.attached_cleaned h3 {
	margin-bottom: 40px;
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	color: #2f80ed;
}

.attached_cleaned ul li {
	list-style: none;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 17px;
	line-height: 1.5;
	color: #404a57;
	position: relative;
	padding-left: 33px;
}

.iconcheck {
	background: url(../images/checked.svg) no-repeat 0 0;
	width: 19.6px;
	height: 19.6px;
	object-fit: contain;
	position: absolute;
	top: 7px;
	left: 1px;
}

/* Section */
.noteline {
	text-align: center;
	padding: 27px 45px 35px;
	border-radius: 4px;
	background-image: linear-gradient(98deg, #f3fbfe, #f1f8fe);
}

.noteline p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.63;
	color: #333333;
}

/* Footer */
.footer {
	margin-top: 85px;
	position: relative;
	z-index: 2;
}

.footer:before {
	content: '';
	position: absolute;
	width: 100%;
	height: calc(100% - 99px);
	top: 99px;
	left: 0;
	background: #170934;
	z-index: -1;
}

.readbar_space {
	padding: 65px 50px;
	margin-top: 0;
	border-radius: 4px;
	background-image: linear-gradient(102deg, #56ccf2, #2f80ed);
}

.read_box h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.25;
	color: #ffffff;
}

.read_box span {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.38;
	color: #ffffff;
}

.readbar_space .read_btn .btn {
	min-width: 173px;
	height: 52px;
	border-radius: 1px;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	color: #121c29;
}

.footer_linkall {
	margin-top: 98px;
}

.ab_footer p {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	color: #d3cfdf;
	margin: 18px 0px 35px;
}

.ab_footer a {
	display: inline-block;
}

.social_footer li {
	display: inline-block;
	list-style: none;
}

.social_footer li a {
	display: inline-block;
	height: 15px;
	width: 15px;
	text-align: center;
}

.facebook_icon {
	background: url(../images/facebook.svg) no-repeat center center;
}

.twitter_icon {
	background: url(../images/twitter.svg) no-repeat center center;
}

.linkedin_icon {
	background: url(../images/linkedin.svg) no-repeat center center;
}

.extra_link {
	padding: 47px 0px 0px 50px;
}

.extra_link ul li {
	list-style: none;
	margin-bottom: 27px;
}

.extra_link ul li:last-child {
	margin-bottom: 0px;
}

.extra_link ul li a {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	color: #ffffff;
	display: block;
}

.contact_block {
	padding-top: 47px;
}

.contact_block span {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	color: #ffffff;
}

.contact_block ul li {
	list-style: none;
	color: #fff;
	margin-bottom: 15px;
}

.contact_block ul li a {
	color: #fff;
}

.contact_block ul li i {
	display: inline-block;
}

.phone_icon {
	background: url(../images/phone_icon.svg) no-repeat center center;
	background-size: contain;
	width: 10px;
	height: 13px;
}

.mail_icon {
	background: url(../images/mail_icon.svg) no-repeat center center;
	background-size: contain;
	width: 14px;
	height: 9px;
}

.location_icon {
	background: url(../images/location_pin.svg) no-repeat center center;
	background-size: contain;
	width: 10px;
	height: 12px;
}

.copyright {
	border-top: 1px solid rgba(102, 54, 201, 0.08);
	text-align: center;
	padding: 16px 0;
}

.copyright p {
	color: #d3cfdf;
	font-size: 14px;
}

.vecotr_img {
	width: 187px;
	height: 200px;
	background: url(../images/footer_left_bg.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 0;
	;
}

.vecotr_img1 {
	width: 198px;
	height: 176px;
	background: url(../images/footer_right_bg.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	bottom: 0;
	right: 185px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.step_policy {
		background-size: contain;
	}

	.min_hsame {
		min-height: 348px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.step_policy {
		background-size: contain;
	}

	.min_hsame {
		min-height: 294px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.step_policy {
		background-size: contain;
	}

	.min_hsame {
		min-height: 260px;
	}
}

@media (max-width: 991px) {
	.navigation {
		padding: 30px 15px 10px;
		width: 100%;
		display: none;
		position: absolute;
		top: 31px;
		left: 0;
		z-index: 99;
		background: #f6f8fd;
		border-bottom: solid 0.5px rgba(46, 47, 51, 0.14);
	}

	.navigation ul li {
		float: none;
		padding: 0;
		margin-bottom: 15px;
	}

	.navigation ul li:last-child {
		margin-left: 0;
		text-align: center;
	}

	.text_banner h2 {
		font-size: 22px;
		margin-top: 10px;
		line-height: 1.4;
	}

	.text_banner span {
		font-size: 18px;
		line-height: 1.5;
		margin-top: 15px;
	}

	.portal_certificate {
		padding: 80px 0;
	}

	.right_checkbar {
		position: static;
	}

	h2 {
		font-size: 40px;
	}

	.occupancy_more {
		margin-top: 40px;
	}

	.certificates_habit {
		padding-bottom: 80px;
	}

	.step_policy {
		margin-top: 64px;
	}

	.work_required {
		padding: 80px 0;
	}

	.inspection_sec {
		padding-top: 80px;
	}

	.inspection_sec .center_heading span {
		font-size: 20px;
	}

	.uptabs .first_tab .nav-link {
		font-size: 20px;
	}

	.right_checkbar img {
		display: block;
		margin: 0 auto;
	}

	.attached_cleaned {
		padding-left: 40px;
	}

	.read_box h2 {
		font-size: 30px;
	}

	.readbar_space {
		padding: 40px;
	}

	.extra_link {
		padding-left: 0;
	}

	.process_ab {
		padding: 40px 0 0px 0px
	}
}

@media (max-width: 767px) {

	h2 {
		font-size: 33px;
	}

	.btn_center {
		text-align: center;
	}

	.step_policy {
		background: none;
		margin-left: 0;
	}

	.min_hsame {
		min-height: 0;
	}

	.topnumber,
	.step_application {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.certificates_habit {
		padding-bottom: 60px;
	}

	.work_required {
		padding: 60px 0 20px;
	}

	.inspection_sec {
		padding-top: 60px;
	}

	.uptabs .nav-tabs .nav-item {
		margin-bottom: 20px;
	}

	.uptabs .nav-tabs .nav-item a,
	.uptabs .first_tab .nav-link.active {
		font-size: 20px;
		text-align: left;
	}

	.left_link {
		float: none;
		width: 100%;
	}

	.mt_space1 {
		margin-top: 38px;
	}

	.read_box h2 {
		font-size: 22px;
	}

	.read_box {
		margin-bottom: 15px;
	}

	.read_btn {
		width: 100%;
		text-align: center;
	}

	.uptabs .inner_tabs_penal .nav-tabs .nav-item a {
		text-align: center;
	}

	.attached_cleaned {
		width: 100%;
	}

	.attached_cleaned h3 {
		margin-bottom: 22px;
		margin-top: 20px;
	}

	.uptabs .nav-tabs .nav-item {
		display: block;
	}

	.uptabs .first_tab .nav-item:last-child {
		margin-left: 0;
	}

	.topnumber {
		margin-bottom: 15px;
	}
}

.landscape_tab [class^="tab_tb"] {
	display: none;
}

.landscape_tab .show_tab {
	display: block;
}

/* PROCESS_REQUEST */
.body_bg {
	background-color: #f8fbff;
	font-family: 'gilroy-regular';
}

.body_bg h1,
.body_bg h2,
.body_bg h3,
.body_bg h4,
.body_bg .form-control {
	font-family: 'gilroy-regular';
}

.bg_colorwhite,
.topbar_process {
	background: #fff;
}

.body_bg .form-control:focus,
.btn.focus,
.btn:focus {
	box-shadow: none;
}

.center_stepprocess,
.same_spacebox {
	max-width: 567px;
	width: 100%;
	margin: 0 auto;
}

.same_spacebox {
	padding-top: 40px;
}

.logo_process {
	text-align: center;
	margin-bottom: 26px;
}

.logo_process a {
	display: inline-block;
}

.progress_step .ui-progressbar {
	height: 13px;
	border-radius: 7px;
	background-color: #f2f6f8;
	border: none;
}

.progress_step .ui-progressbar .ui-widget-header {
	background: #1fa8e5;
	height: 100%;
	border-radius: 8px;
	margin: 0;
	box-shadow: none;
	border: none;
	transition: all 0.3s;
}

.heading_what {
	text-align: center;
	margin-top: 28px;
}

.heading_what h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	color: #001839;
	font-family: 'gilroy-semibold';
}
.form_process h3{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	color: #001839;
	font-family: 'gilroy-semibold';
}

.heading_what p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.8;
	color: #001839;
	margin: 0px;
	opacity: 0.57;
}

.form_types {
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	color: #001839;
	margin-top: 32px;
	margin-bottom: 25px;
}

.haitability_step {
	margin-bottom: 20px;
}

.certificate_click {
	text-align: center;
	height: 160px;
	border-radius: 4px;
	border: solid 1px rgba(217, 217, 217, 0.99);
	cursor: pointer;
	transition: all 0.3s;
}

.certificate_click span {
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.33;
	color: #202020;
	margin-top: 10px;
	font-family: 'gilroy-medium';
}

.certificate_click.active,
.certificate_click:hover {
	border-color: #1fa8e5;
}

.center_box {
	width: 100%;
}

.show_residenial {
	margin-top: 25px;
	display: none;
}

.show_residenial p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.44;
	color: #404a57;
}

.show_residenial p b {
	font-weight: 600;
	font-family: 'gilroy-semibold';
}

.center_stepprocess .form-group {
	margin-bottom: 0px;
	margin-top: 16px;
}

.center_stepprocess .form-group label {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: #202020;
	margin-bottom: 8px;
	position: relative;
}

.center_stepprocess .form-group .form-control {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: rgba(0, 0, 0, 0.73);
}

.center_stepprocess .form-group .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.73);
}

.center_stepprocess .form-group .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.73);
}

.center_stepprocess .form-group .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(0, 0, 0, 0.73);
}

.center_stepprocess .form-group .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.73);
}

.center_stepprocess .form-group select.form-control {
	-webkit-appearance: none;
	height: 43px;
	border-radius: 4px;
	border: solid 0.8px rgba(0, 0, 0, 0.26);
	width: 100%;
	background: url(../images/down-arrow.svg) no-repeat 97% 50%;
}

.center_stepprocess .form-group textarea.form-control {
	height: 50px;
	resize: none;
}

.checkbox_choose {
	position: relative;
	width: 83.9px;
	height: 35px;
	border-radius: 2px;
	border: solid 0.5px #d2d2d2;
	text-align: center;
	line-height: 35px;
	display: inline-block;
	margin-right: 10px;
}

.inlinebor {
	margin-top: 28px;
}

.radio_check {
	position: absolute;
	z-index: -99;
	opacity: 0;
}

.check_text {
	position: relative;
	margin: 0px;
	font-weight: normal;
	line-height: 1.67;
	color: rgba(32, 32, 32, 0.75);
	padding-left: 32px;
	line-height: 1.2;
	font-size: 16px;
}

.check_text span {
	content: "";
	border-radius: 50%;
	width: 13.6px;
	height: 13.6px;
	border: solid 1px rgba(112, 112, 112, 0.29);
	position: absolute;
	top: 2px;
	left: 0px;
	transition: all 0.3s;
}

.radio_check:checked+label span {
	border-color: #1fa8e5;
	background: #1fa8e5;
}

.radio_check:checked+label span:before {
	content: "\f3fd";
	font-family: "Ionicons";
	position: absolute;
	left: 2px;
	top: 0;
	color: #fff;
	font-size: 28px;
	line-height: 0.55;
	font-weight: 400;
}

.checkchose_more {
	display: block;
	width: auto;
	height: auto;
	text-align: left;
	border: none;
	margin-bottom: 13px;
}

.checkchose_more .check_text span {
	border-radius: 3px;
	width: 18px;
	height: 18px;
}

.step_button {
	padding-bottom: 25px;
	margin-top: 22px;
	padding-top: 14px;
	border-top: solid 1px rgba(112, 112, 112, 0.18);
	/* position: fixed; */
	/* bottom: 0; */
}

.step_button button {
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.2px;
	text-align: center;
	color: #1fa8e5;
	cursor: pointer;
	transition: all 0.3s;
}

.step_button .bg_transparent {
	background: transparent;
	border: none;
	outline: none;
}

.step_button .next_btn {
	min-width: 128px;
	height: 48px;
	background-color: #1fa8e5;
	color: #fff;
}

.step_button .next_btn:hover {
	background-color: #0e8fc7;
}

.step_button .back_btn:hover {
	color: #0e8fc7;
}

.rightbar_aria {
	position: relative;
	padding-bottom: 25px;

}

@media(min-width:992px) {
	.rightbar_aria {
		position: fixed;
		width: 41.666667%;
		top: 60%;
		transform: translateY(-50%);

	}
}

.bg_whitebar {
	border-radius: 5px;
	box-shadow: 0 3px 20px 0 rgba(128, 128, 128, 0.08);
	background-color: #ffffff;
	padding: 28px 32px 35px 32px;
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
}

.bg_whitebar h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	color: #001839;
	border-bottom: solid 1px rgba(112, 112, 112, 0.19);
	margin-bottom: 28px;
	font-family: 'gilroy-semibold';
}

.points_sherif {
	padding-left: 15px;
	margin-bottom: 35px;
}

.points_sherif:last-child {
	margin-bottom: 0px;
}

.points_sherif span {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.33;
	color: #1fa8e5;
}

.points_sherif p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.53;
	color: #202020;
	opacity: 0.75;
}

.points_sherif p strong {
	font-weight: 600;
	font-family: 'gilroy-semibold';
}

.picture_sale {
	position: relative;
	max-width: 445px;
	margin: 10px auto;
}

span.textsale {
	color: #0cb6ec;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 700;
	width: 104px;
	height: 55px;
	background-color: #ffffff;
	display: block;
	line-height: 55px;
	text-align: center;
	position: absolute;
	top: 30px;
	right: 25px;
}

span.textsale:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0px;
	width: 20px;
	height: 30px;
	border-top: 20px solid transparent;
	border-right: 20px solid transparent;
	border-left: 20px solid #fff;
	border-bottom: 20px solid transparent;
}

.disable_allbox {
	display: none;
}

.active_block {
	display: flex;
}

.upload_btn {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	color: rgba(32, 32, 32, 0.8);
	height: 70px;
	border-radius: 5px;
	border: 1px dashed rgba(31, 168, 229, 0.68);
	position: relative;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	line-height: 70px;
	width: 100%;
	transition: all 0.3s;
}

.upload_btn:hover {
	border-color: rgba(31, 168, 229, 1);
}

.upload_btn i {
	font-style: normal;
	color: #1fa8e5;
}

.upload_file {
	position: absolute;
	width: 217%;
	height: 100%;
	padding: 0;
	border: none;
	top: 0;
	left: -106px;
	opacity: 0;
	cursor: pointer;
}

.review_author {
	border-radius: 5px;
	background-color: #e0f5ff;
	text-align: center;
	line-height: 49px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-top: 15px;
	text-align: left;
	padding-left: 30px;
}

.centerview {
	text-align: center;
}

.view_linkpdf {
	text-decoration: underline;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	margin-top: 12px;
	display: inline-block;
	color: rgba(31, 168, 229, 0.8);
	transition: all 0.3s;
}

.view_linkpdf:hover {
	color: #0e8fc7;
}

.filter-box {
	margin-top: 33px;
}

.count {
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.93;
	/* letter-spacing: 0.3px; */
	color: #202020;
	overflow: hidden;
	width: 100%;
	padding-bottom: 16px;
}

.count:last-child {
	padding-bottom: 0px;
}

.count span {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.93;
	letter-spacing: 0.3px;
	color: #202020;
}

.product-regulator {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.product-regulator button {
	border-radius: 100%;
	color: #1fa8e5;
	display: inline-block;
	font-size: 17px;
	background: none;
	line-height: 27px;
	text-align: center;
	padding: 0;
	width: 27px;
	height: 27px;
	border: solid 1px #1fa8e5;
	background-color: #ffffff;
}

.product-regulator button i {
	color: #1fa8e5;
}

.product-regulator .output {
	display: inline-block;
	height: 24px;
	padding: 0 12px;
	text-align: center;
	vertical-align: top;
	width: 48px;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	color: #202020;
	vertical-align: text-bottom;
}

.cc-selector {
	margin-top: 30px;
}

.amenity_redio {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	margin-right: 40px;
}

.amenity_redio:last-child {
	margin-right: 0px;
}

.attic_title {
	font-size: 16px;
	font-weight: normal;
	display: block;
	line-height: 1;
	color: #202020;
}

.amenity_radio_label {
	margin-bottom: 0px;
}

.amenity_radio_label span {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: rgba(0, 0, 0, 0.80);
	vertical-align: middle;
	display: inline-block;
}

.amenity_radio_box {
	position: absolute;
	z-index: -99;
	opacity: 0;
}

.amenity_radio_label::before {
	display: inline-block;
	background-color: #fff;
	content: "";
	position: relative;
	transition: all 0.2s;
	width: 15px;
	height: 15px;
	border: solid 1px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
}

.amenity_radio_box:checked~.amenity_radio_label::before {
	border: 1px solid #2476e2;
	background-image: linear-gradient(137deg, #2476e2, #08c2ea);
	font-family: "Ionicons";
	content: "\f3fd";
	font-size: 20px;
	line-height: 14px;
	text-align: center;
	color: #fff;
}

.iconround {
	background: url(../images/iround.svg) no-repeat 0 0;
	width: 12px;
	height: 12px;
	object-fit: contain;
	display: inline-block;
}

.note_block {
	margin-top: 28px;
	padding: 21px 30px;
	border-radius: 5px;
	background-color: rgba(224, 245, 255, 0.50);
}

.note_block span {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.38;
	color: #000000;
}

.note_block span b {

	font-family: 'gilroy-medium';
}

.tab_search_nubadd {
	margin-top: 25px;
}

.tab_search_nubadd .nav-item {
	width: 50%;
	text-align: center;
	padding: 0px;
}

.tab_search_nubadd .nav-item a {
	padding: 0px;
	border-radius: 0px;
	border: solid 1px rgba(0, 0, 0, 0.28);
	height: 56px;
	line-height: 56px;
	font-size: 17px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.36);
}

.tab_search_nubadd .nav-pills .nav-link.active {
	background-color: #39c347;
	border-color: #39c347;
}

.additional_link {
	margin-top: 15px;
}

.additional_link li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid #1fa8e5;
	padding: 0px 7px;
}

.additional_link li:first-child {
	border-left: none;
}

.additional_link li a {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
	color: #1fa8e5;
	display: inline-block;
	transition: all 0.3s;
}

.additional_link li a:hover {
	color: #0e8fc7;
}

.note_locationapp {
	border-radius: 5px;
	background-color: rgba(244, 164, 93, 0.07);
	margin-top: 32px;
	padding: 20px 30px;
}

.note_locationapp .form-group {
	margin: 0px;
}

.note_locationapp p {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 12px;
	line-height: 1.19;
	color: #202020;
}

.location_map {

	max-width: 450px;

	margin: 0 auto;

	width: 100%;
}

.location_map h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 16px;
	color: #001839;
	font-family: 'gilroy-medium';
}

.location_map p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.38;
	color: #000000;
	margin-bottom: 30px;
}

.location_map .btn {
	min-width: 128px;
	height: 36px;
	line-height: 31px;
	border-radius: 4px;
	background-color: #1fa8e5;
	margin: 16px auto 0px;
	display: block;
	color: #fff;
	transition: all 0.3s;
}

.location_map .btn:hover {
	background-color: #0e8fc7;
}

.btn_row {
	max-width: 567px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 99;
}

.back_icon {
	background: url(../images/back_arrow.svg) 0 0 no-repeat;
	background-size: contain;
	width: 7.1px;
	height: 13.3px;
	display: inline-block;
	/* vertical-align: text-bottom; */
}

.occupancy_point li {
	font-size: 16px;
	line-height: 1.65;
	color: rgba(32, 32, 32, 0.75);
	list-style: none;
	padding-left: 46px;
	position: relative;
	margin-bottom: 15px;
	padding-right: 10px;
}

.occupancy_point li span {
	border-bottom: 1px solid #ccc;
	display: block;
	padding-bottom: 13px;
}

.occupancy_point li:last-child {
	margin-bottom: 0;
}

.occupancy_point li:last-child span {
	padding-bottom: 0;
	border-bottom: none;
}

.occupancy_point i {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 4px;
}

.occupancy_point_icon1 {
	background: url(../images/occupancy_1.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_point_icon2 {
	background: url(../images/occupancy_2.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_point_icon3 {
	background: url(../images/occupancy_3.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_point_icon4 {
	background: url(../images/occupancy_4.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_point_icon5 {
	background: url(../images/occupancy_5.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_point_icon6 {
	background: url(../images/occupancy_6.svg) 0 0 no-repeat;
	background-size: contain;
}

.occupancy_img {
	margin-top: 30px;
}

.habitability_right_bx {
	text-align: center;
	padding: 28px 12px 22px;
}

.habitability_right_bx p {

	font-size: 16px;

	color: rgba(64, 74, 87, 1);

	line-height: 1.1;
}

.continued_occupancy {

	padding: 0 0 30px;
}

.continued_occupancy h5 {
	font-size: 16px;
	font-weight: 500;
	color: #404a57;
	line-height: 1.44;
	font-family: 'gilroy-medium';
	margin-bottom: 10px;
}

.continued_occupancy p {
	font-size: 16px;
	color: #404a57;
	line-height: 1.22;
}

.mt-space {
	/* margin-top: 117px; */
}

.d_none {
	display: none;
}

.form_process {
	padding-bottom: 124px;
}


.occupancy_img {
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
}

@media (max-width: 991px) {
	.bg_whitebar h4 {
		font-size: 18px;
	}

	.form_process {
		padding-bottom: 25px;
	}

	.mt-space {
		margin-top: 0;
	}

	.rightbar_aria {
		margin-top: 30px;
	}

	.process_section {
		padding-bottom: 120px;
	}

	.btn_row {
		left: 0;
		right: 0;
		padding: 0 15px;
	}
}

@media (max-width: 767px) {
	.points_sherif {
		padding-left: 0px
	}

	.bg_whitebar {
		margin-top: 50px;
		padding: 25px;
	}

	.tab_search_nubadd .nav-item {
		width: 100%;
		margin: 8px 0px;
	}

	.form_types,
	.location_map h4 {
		font-size: 18px;
	}

	.certificate_click span,
	.points_sherif span,
	.show_residenial p,
	.center_stepprocess .form-group label,
	.center_stepprocess .form-group .form-control,
	.check_text,
	.continued_occupancy p,
	.continued_occupancy h5,
	.occupancy_point li,
	.habitability_right_bx p,
	.upload_btn,
	.view_linkpdf,
	.view_linkpdf:hover,
	.count span,
	.attic_title,
	.amenity_radio_label span,
	.tab_search_nubadd .nav-item a {
		font-size: 14px;
	}

	.heading_what h2 {
		font-size: 22px;
	}
}

/**/
.info-icon {
	position: relative;
	top: -2px;
}

.tooltiptext {
	display: none;
	position: absolute;
	left: calc(100% + 20px);
	top: -21px;
	width: 255px;
	background: #ffffff;
	z-index: 1;
	padding: 14px 13px 0;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 0.5px #c7c7c7;
	border-radius: 4px;
}

.tooltiptext.active {
	display: block;
}

.tooltiptext:after {
	content: " ";
	position: absolute;
	left: -15px;
	top: 15px;
	border-top: 15px solid transparent;
	border-right: 15px solid #ffffff;
	border-left: none;
	border-bottom: 15px solid transparent;
}

.tooltiptext:before {
	content: " ";
	position: absolute;
	left: -16.5px;
	top: 14.5px;
	border-top: 16px solid transparent;
	border-right: 16px solid rgba(0, 0, 0, 0.2);
	border-left: none;
	border-bottom: 16px solid transparent;
}

.tooltiptext strong {
	font-size: 12px;
	color: #1fa8e5;
	font-weight: 500;
	display: block;
	margin-bottom: 13px;
}

.tooltiptext p {
	font-size: 10px;
	line-height: 18px;
	margin-bottom: 9px;
}

.app-btn:hover {
	background-color: #0e8fc7;
	color: #ffffff;
}

/* step 7 css start */

.radio {
	padding: 19px 56px 0 0;
}

.radio-main {
	position: relative;
}

input[type="checkbox"] {
	position: relative;
	z-index: 999;
	height: 20px;
	width: 20px;
	opacity: 0;
	margin-right: 5px;
}

input[type="checkbox"]+span {
	position: absolute;
	height: 17px;
	width: 17px;
	border-radius: 50%;
	top: 0;
	display: block;
	left: 0;
}

input[type="checkbox"]:checked+span::after {
	top: 3px;
	left: 1px;
	position: absolute;
	height: 5px;
	width: 10px;
	content: "";
	border-left: 2px solid#fff;
	border-bottom: 2px solid#fff;
	transform: rotate(-45deg)
}

input[type="checkbox"]:checked+span::before {
	top: 5px;
	left: 6px;
	position: absolute;
	height: 12px;
	width: 12px;
	content: "";
	background-color: #1fa8e5;
}

.step7 .form_process {
	padding-bottom: 124px;
}

.step7 .methode h4 {
	font-size: 18px;
}

.step7 .form_process h3 {
	padding: 47px 0 34px 0;
}

.center_stepprocess .form-control {
	height: 47px;
	margin-bottom: 29px;
	font-size: 18px;
}

.center_stepprocess .form-group label {
	font-size: 18px !important;
}

#card_num {
	position: relative;
}

#card_num::before {
	content: "\f119";
	position: absolute;
	font-family: "FontAwesome";
}

.step7 .expiry-group {
	width: 100%;
}

.step7 .expiry-group.second {
	background-color: #fbfbf8;
	;
	;
	padding: 14px 19px 18px 19px;
}

.step7 .expiry-group .expiry-one {
	width: 50%;
	padding-right: 12px;
}

.step7 .expiry-group .expiry-two {
	width: 50%;
	padding-left: 12px;
}

.step7 .expiry-group .expiry-text {
	width: 100%;
	border-bottom: 1px solid#acacac;
	padding: 14px 0;
}

.step7 .expiry-group .expiry-text2 {
	width: 100%;
	border-top: 1px solid#acacac;
	padding: 14px 0 0 0;
}

.step7 .expiry-group .expiry-text h4 {
	font-size: 16px;
	color: #202020;
}

.step7 .expiry-group .expiry-text2 h4 {
	font-size: 18px;
	color: #202020;
}

.step7 .expiry-group .expiry-text2 h4 span {
	font-weight: 500;
	font-family: Gilroy-medium;
}

.step7 .conditions h4 {
	font-size: 16px;
}

.step7 .conditions input[type="checkbox"]+span {
	border-radius: 17%;
	margin-top: 3px;
	height: 14px;
	width: 14px;
	border: solid 1px rgba(0, 0, 0, 0.25);
}

/* background-image: linear-gradient(#1fa8e5, #1fa8e5); */
.step7 .conditions input[type="checkbox"]:checked+span::before {
	top: 0px;
	left: 0px;
}

.step7 #sell {
	height: 47px;
	margin-bottom: 29px;
	font-size: 18px;
}

.step7 .cc-selector {
	margin-top: 0;
}

.step7 .amenity_radio_box {
	z-index: 9999;
	top: 8px;
}

.step7 .step7-form .card {
	position: relative;
	border: none;
}

.step7 .step7-form .card:before {
	position: absolute;
	content: url("../images/credit-card.png");
	font-family: 'FontAwesome';
	right: 17px;
	top: 31px;
	z-index: 99;
	font-size: 29px;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

.step7 .step7-form .master {
	position: relative;
	border: none;
}

.step7 .step7-form .master:before {
	position: absolute;
	content: url("../images/down-arrow.png");
	font-family: 'FontAwesome';
	right: 17px;
	top: 0px;
	z-index: 99;
	font-size: 29px;
}

/* step 7 css end */

/* popup section start */
.pop-up {
	display: none;
	top: 15%;
	max-width: 605px;
	height: 443px;
	border-radius: 6px;
	background-color: #ffffff;
	position: fixed;
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px 41px 45px 41px;
}

.pop-up .pop-head {
	height: 194px;
	overflow-y: scroll;
	margin-bottom: 53px;
	padding-right: 33px;
}

.pop-up .pop-inner h3 {
	color: #1b1e3f;
	font-weight: 600;
	font-size: 26px;
	margin: 0 0 28px 0;
}

.pop-up .pop-head p {
	color: #4c5550;
	font-size: 13px;
	line-height: 24px;
}

.pop-up .pop-end {
	text-align: center;
}

.pop-up .pop-end .btn {
	font-size: 16px;
	min-width: 115px;
	height: 41px;
	line-height: 39px;
	font-family: 'gilroy-regular';
	margin: 0 5px;
}

.pop-up-bg {
	display: none;
	top: 0;
	position: fixed;
	height: 100%;
	background-color: #00000087;
	width: 100%;
	z-index: 999;
}

#style1::-webkit-scrollbar {
	width: 2px;
	background-color: #F5F5F5;
	border: 1px solid#c2c2c2;
	border-radius: 40px;
}

#style1::-webkit-scrollbar-thumb {
	background-color: #1fa8e5;
	border-radius: 40px;
}

.pop-up .pop-end .btn {
	background-color: #fff;
	border: 1px solid#1fa8e5;
	color: #1fa8e5;
}

.pop-active {
	background-color: #1fa8e5 !important;
	color: #fff !important;
}

.step8 .form_process h3 {
	color: #001839;
	padding-top: 47px;
}

.step7 .step7-form {
	margin-top: 36px;
}

.step8 .upload_btn span {
	color: #202020;
	font-size: 18px;
}

/* pop up section end */

/* step 8 css start */
.upload_btn p {
	font-size: 18px;
	color: #202020;
}

.upload_btn span {
	color: #1fa8e5;
}

/* step 8 css start */

/* review css start */
.review_form .heading h2 {
	font-size: 28px;
	font-weight: 600;
	color: #001839;
	text-align: center;
}

.review_form .heading p {
	font-size: 14px;
	text-align: center;
	color: #001839;
	opacity: 0.57;
}

.review_form .review-part h3 {
	color: #001839;
	font-size: 20px;
	font-weight: 600;
}

.review_form .review-part .btn {
	position: relative;
	width: 79.8px !important;
	height: 28px !important;
	border-radius: 20px !important;
	background-color: #2aabfa !important;
	font-size: 11px !important;
	line-height: 28px !important;
	min-width: 0px;
}

.review_form .review-part .btn::after {
	content: url(../images/edit.png);
	font-family: FontAwesome;
	position: absolute;
	left: 15px;
}

.review-part .what-heading {
	border-bottom: 2px solid#efefef;
	;
	justify-content: space-between;
	padding-bottom: 13px !important;
}

.review-part .certificate {
	flex-wrap: wrap;
	margin-bottom: 11px;
}

.review-part .certificate p {
	width: 100%;
}

.review-part .certificate .certi-img {
	width: 10%;
}

.review-part .certificate .certi-text {
	width: 90%;
}

.review-part .certificate .certi-text h6 {
	margin: 15px 0 0 12px;
}

.review-part .certificate p {
	color: #001839;
	opacity: 0.6;
	margin: 31px 0 14px 0
}

.review-part .certi-summury .summery {
	margin-top: 31px;
	padding-right: 15px !important;
}

.review-part .certi-summury .summery.inner-summury {
	margin: 31px 0 0 0 !important;
	padding: 0 !important;
	max-width: 200px !important;
}

.review-part .certi-summury p {
	opacity: 0.7;
	font-size: 12px;
	color: #1e2327;
}

.review-part .certi-summury h4 {
	font-size: 14px;
	color: #26323a;
}

.review-edit .review-part {
	border-radius: 4px;
	box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}

.review-edit .review-top {
	padding: 18px 15px 38px 15px;
}

.review-part .certi-summury .summery .img-id {
	width: 75px;
	height: 75px;
	margin-top: 9px;
}

.review-part .certi-summury {
	flex-wrap: wrap;
}

.review-part .certi-summury .img-buyer {
	flex-wrap: wrap;
}

.review-part .minus,
.review-part .plus {
	width: 14px;
	height: 14px;
	cursor: pointer;
	margin-top: 3px;
	font-size: 9px;
	line-height: 0px;
	border: solid 1px #dbddde;
}

.summery .product-regulator button i {
	color: #dbddde;
}

.summery .product-regulator .output {
	width: 20px;
	padding: 0 7px;
	font-size: 12px;
	font-weight: 500;
}

.summery .incre-decre {
	margin-top: 7px;
}

.heading {
	padding: 0 0 49px 0;
}

.review_form {
	padding: 46px 0 76px 0;
	background-color: rgba(16, 117, 224, 0.03);
}

.review-part {
	background-color: #fff;
}

.tab_search_nubadd .app-trsp-btn {
	background-color: #fff;
	color: #1fa8e5;
	border: 1px solid#1fa8e5;
}

.footer-button .btn_row {
	position: inherit;
	max-width: 100% !important;
	width: 100% !important;
}

.footer-button .step_button {
	border-top: none;
}

.footer-button .btn_row .back_icon {
	margin-right: 5px;
}

.footer-button .step_button .bg_transparent {
	padding: 14px 0 0 1px;
}

/* review css end */

/* map drop down */
.tab_search_nubadd .ui-menu.ui-widget {
	top: 236px;
	left: 110px;
	width: 72%;
	border-radius: 5px;
	min-height: 121px;
	border: none !important;
	box-shadow: 0px 2px 2px 1px #8080805e;
}

.ui-menu .ui-menu-item-wrapper {
	background-color: aliceblue;
}

/* map drop down */


/* coop process css start */
.process-page {
	margin-top: 165px;
}

.tabber {
	max-width: 1350px;
	margin: 0 auto;
}

.procees-logo {
	padding: 40px 0 30px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
}

/* .rightbar_aria {
	background-color: #e6f1ff
} */

.tabber-list {
	position: fixed;
	top: 106px;
	width: 100%;
	z-index: 999;
	left: 0;
	right: 0;
}

.procees-logo .logo a {
	vertical-align: bottom;
	margin-left: 48px;
	color: #001839;
	text-decoration: underline;
	font-size: 24px;
}

.procees-logo .save-exit {
	color: #1fa8e5;
	font-size: 24px;
	cursor: pointer;

}

.tabber-list {
	justify-content: space-around;
	display: flex;
}

.tabber-list li {
	list-style-type: none;

}

.tabber-list li a {
	font-size: 18px;
	font-weight: 500;
	color: #001839;
	display: block;
}

.tabber-list li.active {
	color: #1fa8e5 !important;
	background-color: rgb(229, 240, 254);
}

.tabber-list li {
	cursor: pointer;
	width: 14.28%;
	text-align: center;
	border-top: solid 0.5px;
	border-right: solid 0.5px;
	border-bottom: 2px solid#1fa8e5;
	padding: 12px 0 12px 0;
	background-color: #fff;
}

.active a {
	color: #1fa8e5 !important;
}

/* coop css end */

/* coop process what section start */
.process-page .rightbar_sec {
	position: fixed;
	padding: 77px 0 0 0;
	padding: 77px 0 215px 0;
	height: 100%;
	overflow-y: scroll;
}

.process-page .rightbar_aria {
	right: 0;
	top: 91%;
}

.rightbar_top {
	background-color: #e6f1ff7a;
	padding: 0 76px 0 69px;
}

.what-side-img {
	width: 100%;
	max-width: 430px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
}

.process-page .rightbar_sec::-webkit-scrollbar {
	display: none;
}

/* coop process what section end */

/* menu baar css start */
.tabber .menu {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
}

/* menu baar css end */



/* e property page html start */
.bg-property p {
	font-size: 12px;
	color: #1e232780;
	margin-bottom: 3px;
}


.bg-property h4 {
	color: #26323a;
	font-size: 14px;
}

.property.side-nav {
	width: 213px;
	z-index: 9;
	position: fixed;
	height: 100%;
	left: -213px;
	transition: 0.5s;
	background-color: #fff;
}

.property.side-nav .side-nav-logo {
	border-bottom: 1px solid#ECE8E8;
	padding: 22px 0 22px 25px;
}

.property.side-nav .side-nav-menu ul {
	margin: 0;
	padding: 0;
	
}

.property.side-nav .side-nav-menu .active {
	background-color:#2aabfa14;
	border-left: 4px solid#2aabfa;
}

.property.side-nav .side-nav-menu .notification {
	width: 15px;
	position: absolute;
	text-align: center;
	left: 104px;
	top: 8px;
	height: 15px;
	background-image: linear-gradient(to bottom, #3bc5f9, #219dfb);
	border-radius: 50%;
	line-height: 15px;
	font-size: 9px;
	color: #fff;
}

.property.side-nav .side-nav-menu .nof {
	position: relative;
}

.property.side-nav .side-nav-menu ul li {
	list-style-type: none;
	padding: 11px 0px 11px 24px;
	position: relative;
}
.property.side-nav .side-nav-menu ul li ul{position: absolute; width: 89%; display: none;}
.property.side-nav .side-nav-menu ul li ul li{ padding-bottom:0px; padding-top: 11px;}

.property.side-nav .side-nav-menu a {
	color: #51606a;
	font-size: 14px;
	display: block;
}

.top-header .side-menu-icon {
	margin-top: 5px;
	background-color: #2aabfa;
	padding: 6px 5px 6px 8px;
	margin-right: 20px;
}

/* e propert page html end */

/* top menu css in property page */
.top-header {
	background-color: #2aabfa;
	padding: 18px 0px;
}

.top-header .user-id a {
	color: #ffffff;
	font-size: 14px;
	padding: 0px 0 0 12px;
	vertical-align: -webkit-baseline-middle;
}

.top-header .user-top {
	justify-content: flex-end;
	margin-top: 4px;
}

.top-header .top-search {
	width: 72%;
  transition: 0.5s;
}

.top-header .top-search input {
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 2px;
	padding: 0 0 0 41px;
	background-color: #4dbbff;
}

.top-header .top-search input::placeholder {
	color: #fff;
	font-size: 14px !important;
}

.menu-slide {
	cursor: pointer;
}

.side-slide {
	left: 0px !important;
}

.main-slide {
	margin-left: 209px;
}
.side-menu-icon{ transition: 0.3s;}

.main {
	transition: 0.3s;
}

.bg-property {
	background-color:  rgba(248, 249, 253, 0.8);

}

/* top menu css in propert page */


/* certificate-update-top css start */
.certificate-inner ul li {

	background-size: 14px 14px;
	list-style-type: none;
	list-style-position: inside;
	margin-top: 6px;
	display: flex;
}

.certificate-inner ul li a {
	color: #51606a;
	font-size: 14px;
	opacity: 0.8;
	vertical-align: text-bottom;
}

.certificate-text {
	margin-top: 19px;
}

.certificate-text .text-inner h3 {
	color: #3e3f42;
	font-size: 26px;
	font-weight: bold;
}

.update-link ul li {
	list-style-type: none;
	position: relative;
	display: inline-block;
	margin: 0 0 0 54px;
	text-align: right;
}

.update-link ul li a {
	color: #51606a;
	font-size: 14px;
}

.update-link ul li .foreign:before {
	color: #51606a;
}

/* main icons propert page */

 .cancel:before {
	position: absolute;
	content: "";
	background-image: url(../images/cancel-big.png);
	top: -7px;
    left: -1px;
	color: #fa2a5c;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	padding: 28px 28px;
	background-size: 28px;
}
.edit-table:before {
	position: absolute;
	content: "";
	background-image: url(../images/edit-table2.png);
	top: -7px;
    left: -31px;
	color: #fa2a5c;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	padding: 28px 28px;
	background-size: 28px;
}

.certificate-text .transfer:before {
	position: absolute;
	content: "";
	background-image: url(../images/transfer-big.png);
	top: -4px;
	left: -34px;
	color: #51606a;
	padding: 28px 28px;
	background-size: 28px;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
}

.certificate-text .application:before {
	position: absolute;
	content: "";
	background-image: url(../images/application-big.png);
	top: -4px;
	left: -34px;
	color: #51606a;
	padding: 28px 28px;
	background-size: 28px;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
}

.down-svg{
	position: absolute;
	content: "";
	background-image: url(../images/down-big.png);
	top: 8px;
    right: -158px;
	color: #51606a;
	padding: 28px 28px;
	background-size: 19px;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
}

.schedule-top .down-svg{position: absolute;
	content: "";
	background-image: url(../images/right-arrow.svg);
	top: 0px;
    right: 28px;
	color: #51606a;
	padding: 9px 9px;
	background-size: 10px;
	height: 10px;
	width: 10%;
	background-repeat: no-repeat;}
.more .down-svg{top: 12px;
    right: -182px;}

/* main icon end */

.schedule-top h3 {
	color: #1e2327;
	opacity: 0.5;
	font-size: 14px;
	margin: 2px 3px 0 0px;
}

.schedule-top span {
	color: #26323a;
}

.schedule-top .schedule-btn .btn-one,
.schedule-top .schedule-btn .btn-two {
	border: none;
	color: #fff;
	background-color: #2aabfa;
	padding: 0px 10px;
	border-radius: 25px;
	font-size: 11px;
	height: 28px;
	line-height: 7px;

}

.schedule-top .schedule-btn .btn-two {
	color: #2aabfa;
	border: solid 0.8px #2aabfa;
	background-color: #ffffff;
	margin-left: 10px;
	min-width: 0px;
	padding: 0 20px;
}

.schedule-top .schedule-btn {
	justify-content: flex-end;
}

.schedule-top {
	border-radius: 4px;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
	border: solid 1px #eaedf3;
	background-color: #ffffff;
	margin-top: 26px;
}

.schedule-top .schedule-main {
	padding: 25px 0 13px 0;
	border-bottom: 1px solid#eaedf3;
}

.sachedule-list {
	padding: 40px 0 7px 0;
}

.sachedule-list h4 {
	margin-bottom: 26px;
}

.certificate-taber .btn {
	position: relative;
	padding: 0 22px 0 31px;
	height: 28px !important;
	border-radius: 20px !important;
	background-color: #2aabfa !important;
	font-size: 11px !important;
	line-height: 28px !important;
	min-width: 0px;
}

.certificate-taber .btn::after {
	content: url(../images/edit.svg);
	font-family: FontAwesome;
	position: absolute;
	left: 15px;
	top: 1px;
}

.tab-list ul li {
	list-style-type: none;
	display: inline-block;
	min-width: 12%;
	text-align: center;
	cursor: pointer;
}

.tab-list ul li a {
	color: #2d3b44;
	font-size: 14px;
	display: block;
	border-radius: 25px;
	padding: 11px 27px !important;
}

.tab-list ul li .active {
	background-color: #2aabfa;
	color: #fff;
	padding: 11px 0px;
}

.certificate-taber {
	padding: 37px 0 40px 0;
}

.certificate-toggel h5 {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.certificate-toggel {
	background-color: #2aabfa;
	padding: 21px 0 17px 0;
}

.toggel-this .input-one {
	width: 90%;
	border-radius: 0;
	font-size: 14px;
	color: #3c3c3c;
	
}
.toggel-this .decision span{position: absolute; top: 26px; right: 58px; font-size: 16px;} 
.toggel-this .decision{position: relative;}


.toggel-this .input-two.fa-calendar{    position: absolute;
    top: 12px;
    right: 12px;
    color: #2aabfa;}

.toggel-this input::placeholder {
	font-size: 14px;
	color: #3c3c3c;
}

.toggel-this input {
	padding-left: 16px;
	height: 40px;
}

.input-group input {
	background-color: #fff !important;
	border-radius: 0 !important;
}

.property-button {
	padding: 0px 22px 0px 22px;
	border-radius: 25px;
	background-color: #2aabfa;
	color: #fff;
	border: none;
	font-size: 11px;
	height: 36px;
	line-height: 3px;
	min-width: 0px;
}

.toggel-this {
	padding: 29px 0 27px 0;
	background-color: #fff;
}

/* .mover {
	transform: rotate(180deg)
} */



/* fonts css */
.backup:before {
	content: url("../images/backup.png");
	width: 100%;
}

.send:before {
	content: url("../images/sent-mail.png");
	width: 100%;
}

.view:before {
	content: url("../images/view.png");
	width: 100%;
	margin-right: 7px;
}

.mini-view:before {
	content: url("../images/mini-view.png");
	margin-right: 7px;
}

.mini-white:before {
	content: url("../images/mini-white.png");
	margin-right: 7px;
}


.cancel-min:before {
	content: url("../images/cancel-small.png");
	margin-right: 7px;
}

.cancel-mid::before {
	content: url("../images/cancel-midium.png");
	margin-right: 7px;
}

.david-active span.mini-view {
	visibility: hidden;
}

.david-active span.mini-white {
	visibility: visible;
}

.mini-white {
	visibility: hidden;
}

.upload:before {
	content: url("../images/upload1.png");
	margin-right: 7px;
}

.pending-icon {
	content: url("../images/pending.png");
	margin-right: 7px;
	vertical-align: inherit;
}

.ckecked-green {
	content: url("../images/checked.png");
	margin-right: 7px;
	vertical-align: inherit;
}

.cancel-mini{content: url("../images/cancel-min.png");
	margin-right: 7px; vertical-align: inherit;}
	  

.red-circle {
	content: url("../images/violation.png");
	margin-right: 7px;
	vertical-align: text-top;
}

.down {
	content: url("../images/down.png");
	margin-right: 7px;
	position: absolute;
	left: 30px;
	top: 10px;
}

.filter-icon {
	content: url("../images/filter.png");
	margin-right: 7px;
}

.request {
	content: url("../images/request.png");
	margin-right: 7px;
}

.badge-icon {
	content: url("../images/badge.png");
	margin-right: 7px;
}

.file {
	content: url("../images/file.png");
	margin-right: 7px;
}

/* fonts css end */

/* section payment css start */
.payment-inner .input-two {
	width: 90%;
}

.payment-inner span {
	color: #2d3b44;
	font-size: 11px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
	
}
/* .editcancel{display: flex;} */

.toggele-table table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border-top: none;
}

.toggele-table table th {
	border-right: 1px solid#2d3b4421;
	color: #2d3b44CC;
	font-size: 12px;
	opacity: 0.8;
	background-color: #eff9ff;
	padding: 18px 11px 19px 11px;
}

.toggele-table table th:nth-child(0) {
	border-left: 1px solid#eff9ff !important;
}

.toggele-table table th:nth-child(11) {
	border-right: 1px solid#cfdfe9 !important;
}

.toggele-table table td {
	border: 1px solid#2d3b4421;
	padding: 20px 11px 17px 11px;
	font-size: 14px;
}

.toggele-table table td:nth-child(-n+11) {
	border-top: none !important;
}

.toggele-table .paid {
	vertical-align: text-bottom;
	margin-right: 5px;
}

.toggele-table .row-blue {
	color: #2aabfa!important;
}

.toggele-table .row-green {
	color: #1cc463;
}

.add a {
	color: #2aabfa;
	font-size: 14px;
	margin: 3px 0 0 2px;
}

.toggele-grid {
	display: grid !important;
}

/* section payment css end */

/* certificate-update-top css end */

/* inspection css start */
.ins-active {
	color: #2aabfa !important;
	border-bottom: 2px solid#2aabfa;
}

.ins-taber ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 10px;
}

.ins-taber ul li a {
	font-size: 14px;
	color: #51606a;
	padding: 0 13px 7px 0;
}

.ins-taber {
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	padding-bottom: 3.5px;
}

.inspection-taber span {
	margin-left: 3px;
}


/* inspection end */

/* payment sidebaar start  */
.payment-agreement a {
	color: #118dd9;
	background-color: #b8e4ff47;
	padding: 8px 14px;
	border-radius: 14px;
	font-size: 12px;
}

.attechment-inner h4 {
	color: #51606a;
}

.attechment-inner span {
	color: #2aabfa;
	vertical-align: top;
}

.view {
	color: #2aabfa !important;
}

.delete {
	color: #fa2a5c !important;
}

.blue {
	color: #2aabfa !important;
}

.photos-text h4 {
	color: #202c33;
}

.photo-text-top {
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	padding-bottom: 21px;
	margin-bottom: px;
}

.template-inner a {
	display: block;
	padding: 8px 18px;
	border-radius: 20px;
}

.foreign::before {
	content: url("../images/foreign.png");
	width: 100%;
}

.foreign2::before {
	background-image: url()
}

.attech-img span {
	margin-right: 15px;
}

.payment-agreement span {
	margin-left: 9px;
}

/* payment sidebaar end */

/* email notes sidebaar css start */
.email-taber input {
	width: 100%;
	border: 1px solid rgba(156, 166, 192, 0.6);
	margin-bottom: 15px;
}

.email-taber::placeholder {
	color: #51606a;
	font-size: 14px;
}

.email-taber textarea {
	padding: 20px 0 0 17px;
	width: 100%;
	height: 260px;
	border: 1px solid rgba(156, 166, 192, 0.6);
	color: #51606a;
	font-size: 14px;
}

.email-taber textarea::-webkit-scrollbar {
	display: none;
}

.email-inner .property-button {
	border-radius: 25px;
	height: 45px;
	font-size: 16px;
	line-height: 16px;
}

.email-inner .email-button {
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	margin-bottom: 47px;
	padding-bottom: 42px;
}

.david-view .btn {
	font-size: 10px;
	min-width: 67.7px;
	line-height: 24px;
	height: 24px;
	color: #2aabfa;
	border-radius: 30px;
	border: solid 0.8px #2aabfa;
	background-color: #ffffff;
	margin-top: 11px
}

.david-about .david-text h4 {
	color: #4d4f5c;
	margin-top: 3px;
}

.david-about .david-text h4 {
	position: relative;
}

.david-about .david-text h4:after {
	position: absolute;
	content: "";
	width: 4px;
	border-radius: 50%;
	top: 7px;
	left: 86px;
	height: 4px;
	opacity: 0.5;
	background-color: #51606a;
}

.david-about .david-text p {
	color: #4d4f5c;
}

.david-about-inner .david-img {
	width: 40px;
}

.david-text span {
	font-size: 11px;
	color: #2aabfa;
	margin-left: 12px;
}

.david-about-inner {
	padding: 20px 24px 20px 23px;
	border-left: 3px solid #2aabfa;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.david-active {
	background-color: rgba(233, 247, 255, 0.44);
}

.david-active .btn {
	background-color: #2aabfa;
	color: #fff;
}

.code-button {
	padding: 35px 0 49px 0;
}

.code-button .property-button {
	font-size: 16px;
	height: 45px;
}

/* emil  sidebaar css end */

/* right sidebaar css start */
.right-sidebaar {
	padding-left: 0px;
}

.right-sidebaar .certificate-toggel {
	padding: 21px 0 0px 0;
}

.Assessment-inner ul li {
	list-style-type: none;
	margin-bottom: 18px;
}

.Assessment-inner ul li:nth-child(even) {
	padding: 0;
}

.Assessment-inner ul li h4 {
	font-size: 12px;
}

.extranal-inner ul li {
	margin-bottom: 7px;
	list-style-type: none;
	justify-content: space-between;
	padding: 15px 13px 9px 13px;
	background-color: #2aabfa1f;
}

.external-info span {
	vertical-align: -webkit-baseline-middle;
	text-align: right;
	cursor: pointer;
}

.external-info h4 {
	font-size: 12px;
}

/* right sidebaar css end */

/* photos css  start*/
.photos-para .property-button {
	height: 28px;
	line-height: 10px;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
	width: 100% !important;
}

/* photos css end */


/* housing html page css start */
.housing-inner .filter {
	height: 32px;
	padding: 0 23px 0 16px;
	border-radius: 1px;
	min-width: 0px;
	background-image: linear-gradient(107deg, #3bc5f9, #219dfb);
	font-size: 12px;
	line-height: 32px;
}

.housing-inner input {
	height: 32px;
	margin-right: 12px;
	background-color: #2d3b440D;
}

.housing-inner input::placeholder {
	font-size: 12px;
	color: #51606a;
}

.housing-tab {
	margin-top: 30px;
}

.housing-inner .input-one {
	width: 100%;
}

.housing-inner .filter-top {
	padding: 0 0 0 0;
}

.housing-inner .input-group input {
	border: solid 0.8px #2aabfa;
	margin: 0 !important;
	padding: 0px 0 0 38px;  
}
.housing-inner .input-group input::placeholder{color: #2aabfa;  font-size: 12px;}

.housing-btn {
	min-width:0%;
	margin: 0 0px 0 12px;
	height: 32px;
	background-color: #ffffff;
	border: solid 0.8px #2aabfa;
	color: #2aabfa;
	font-size: 12px;
	line-height: 32px;
}

.house-row {
	justify-content: flex-end;
	padding-right: 28px;
}

.menu-house {
	padding: 4px 9px 0 9px;
}

.housing-inner table {
	text-align: left;
}

.housing-inner .toggele-table table th,
.toggele-table table td {
	padding: 20px 16px 19px 2px;
	color: #2d3b44CC!important;
	font-weight: normal;
}
.coop-table.housing span {
   
    vertical-align: middle;
}
.application {
	padding: 8px 4px 8px 0px;
	font-size: 13px;
}
.coop-table .application{padding: 8px 11px 8px 11px;}
.pending {
	background-color: #eef1ff;
	color: #5d78ff !important;
}

.Incomplete {
	background-color: #fff8e8;
	color: #fec142 !important;
}

.Issued {
	background-color: #c3f5e6;
	color: #2ea842 !important;
}

.InProgress {
	color: #ed1c24 !important;
	background-color: #ed1c2426;
}

.Incomplete {
	color: #fec142;
	background-color: #fff8e8;
}

.housing-inner .action {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #2aabfa;
	background-color: #dcf0fe;
	width: 28px;
	height: 26px;
	margin: 0 auto;
	line-height: 27px;
	cursor: pointer;
}

.row-yellow {
	color: #ffbd00!important;
}

.row-red {
	color: #ff0034!important;
}
.font12{font-size: 12px!important;}

.pop-list ul li {
	font-size: 12px;
	list-style-type: none;
	color: #51606a;
	margin-bottom: 7px;
}

.pop-list .fa {
	margin-right: 7px;
}

.pop-up-inner h4 {
	font-size: 12px;
	color: #2aabfa;
	margin-bottom: 15px;
}

.pop-up-inner {
	box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
	background-color:
		#ffffff;
	padding: 14px 12px;
	border-radius: 4px;
	position: absolute;
	width: 160.8px;
	left: -103px;
	top: 58px;
	display: none;
	
}
.action-pop-up.one:hover .pop-up-inner{display: block!important;}

.action-pop-up {
	position: relative;
}

.pop-list {
	position: relative;
}

.pop-list::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 11px solid #fff;
	top: -53px;
	right: 0;
}

/* housing html page css end */

/* pagination css start */
.pagination .page {
	background-color: #2aabfa1c;
	padding: 10px 12px;
	margin: 0 7px 0 0px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: #2aabfa;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	margin: 0 7px 0 7px;
}

.pagination a.active {
	background-color: #2aabfa;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #2aabfa1f;
}

.property-select select {
	padding: 6px 28px 6px 11px;
	font-size: 14px;
	color: #2aabfa;
	background-color: #2aabfa1f;
	border: none;
}

.property-select {
	position: relative;
}

.pr-last h4 {
	color: #51606a;
	opacity: 0.65;
	margin: 8px 0 0 6px;
}

.property-select {
	justify-content: flex-end;
}

.select-top {
	justify-content: flex-end;
}

.housing-btn .fa {
	color: #2aabfa;
	font-size: 10px;
	margin-right: 5px
}
.house-row .date{width: 27%!important; position: relative;}
.house-row .input-two{position: absolute;     top: 6px; color: #2aabfa; left: 12px;}
.property-top .toggel-this{
	padding: 23px 0 26px 0;
	
	
  
}
.house-row .down{left: 142px;}
.housing-main{margin-top: 30px;}
.side-nav-menu .fa{margin-right: 11px;}
.input-one-top span .fa{position: absolute; color: #51606a; font-size: 13px; top: 10px; left: 15px;}
.input-one-top input{    padding-left: 33px;}
/* pagination css end */

/* certificate start */


.coop-table th{  opacity: 0.6!important;}
.coop-table td:nth-child(-n+11){border-left: none;}
.toggele-table .coop-table th:nth-last-child(1){border-right: none!important;}
.coop-table td:nth-last-child(1){border-right: none!important;}
.housing-inner.table-list{padding-bottom: 0;}
.toggele-table table th:nth-last-child(1){border-right: 1px solid#eff9ff;}
.toggele-table .table-last td{border-bottom: none;}
.toggele-table .table-last{border-bottom: 1px solid#2d3b4421;}
.coop-table th{background-color: #51606a0a!important;}
.input-group{width: 53%!important;}
.payment-inner .input-group{width: 100%!important;}
.input-group .form-control::placeholder{color: #3c3c3c; font-size: 14px;}
.input-group input{position: relative;}
.input-group input:after{position: absolute;}
.payment-inner input{width: 100%;  border: solid 0.5px rgba(156, 166, 192, 0.55);}
.payment-inner input::placeholder{color: #3c3c3c; opacity: 0.6;}
.payment-inner .form-control{ color: #3c3c3c; opacity: 0.6;  font-size: 14px;}
.payment-inner .decision span{font-size: 16px; right: 29px;}
.payment-inner .btn{margin-top: 5px;}
.extranal-inner{padding-bottom: 19px!important;} 
.side-nav-menu a img{margin-top: 3px; vertical-align: initial; margin-right: 11px;}
.side-nav-menu a .approval-icon img{    vertical-align: sub;}


/* certificate css end */



/* property html page css  */
.coop-table th,.coop-table td{padding: 15px 20px 15px 16px!important;}
.user-id .fa{color: #fff; font-size: 14px; vertical-align: -webkit-baseline-middle;
	margin-left: 10px; cursor: pointer;}
	.photos-para  .btn{padding: 0px 12px 0px 11px;}
	.paid img{margin-top: 1px;}
	.nav-menu-a{font-size: 12px!important;}
	.coop-table th{ background-color: #51606a05!important;}
	.house-active{color:  #1fa8e5 !important;}
	.certificate-update-top{padding-bottom: 113px; }
	.coop-table th{border-bottom: 1px solid#2d3b4421;}
	.certificate-update-top.property{padding-bottom: 0px;}
	.side-nav-menu .certi .fa-angle-down,.side-nav-menu .more .fa-angle-down{position: absolute;
		right: 10px;}
		.move-it .down-svg.mover{transition: 0.3s; transform: rotate(180deg);}
		.mover{transition: 0.3s;}
	.property.side-nav{box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);}
	.backlist{width: 14px; display: block;     margin: -1px 3px 0 0px;}
	.fees-table td{
		padding: 20px 6px 20px 0px!important;
	}
	.certificate-text .cancel::before{
		top: -4px;
		left: -34px;
	}
/* property html page css end */

