
/* sign up page css start */
.sign-up.disable_allbox{
	display: flex!important;
}

.sign-up.conditions input[type="checkbox"]+span {
    border-radius: 17%;
    margin-top: 3px;
    height: 14px;
    width: 14px;
    border: solid 1px rgba(0, 0, 0, 0.25);
}
.sign-up.conditions input[type="checkbox"]:checked+span::before {
    top: 0px;
    left: 0px;
}

.add-detail{
	color: #1fa8e5!important;
}

.sign-up.conditions p{
	font-size: 14px;
	font-weight: 900;
	color: #000000;
	width: 45%;
	margin-top: 3px;
	margin: 0;
}
.sign-up.conditions h6.log-in{
	font-size: 14px;
	font-weight: 500;
	color: #000000!important;
	text-align: right;
	width: 60%;
}
.sign-up.conditions h6.log-in span{
	font-size: 14px;
  font-weight: 500!important;
  color: #1fa8e5;
}
.sign-up.conditions .radio{
	padding: 0 0 0 0;
}
.sign-up.conditions p a{
	font-size: 14px;
	font-weight: 900;
	color: #000000;
	text-decoration: underline;
}
.sign-up.conditions p span{
	font-weight: normal!important;
}
.btn.register{
	width: 100%;
	margin-top: 60px;
}

.sign-up .form-group input{
position: relative;

}
.check-in{

	position: absolute;
	background-image: url(../images/check-in.svg);
	background-repeat: no-repeat;
	background-position: right;

}
.password{


	background-image: url(../images/Password-Icon.svg);
	background-repeat: no-repeat;
	background-position: right 15px bottom 12px;
}
/* sign up page css end */


/* sign html page in css start */
.sign-in.conditions{
	justify-content: space-between;
}
.sign-in.conditions a{
	color: #1fa8e5;
	font-weight: 500;
}

.sign-in.conditions .pop-click{
	font-weight: normal!important;
}
.sign-in.conditions .log-in{
	color: #000000;
}
/* sign html page in css end */




@media(max-width:414px){
    .sign-up.conditions p{
        width: 100%;
    }

    .sign-in.conditions h6{
        width: 45%;
    }
    .log-in span{
        float: right;
    }
}
