<app-layout>
  <router-outlet>
    <div class="content-wrapper" *ngIf="addons">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Addons</h3>
        </div>
        <div
          class="card-body rounded shadow margin-top: 1rem"
          *ngFor="let addon of addons.response.data"
        >
          <h4>Name: {{ addon.name }}</h4>
          <p>Price: {{ addon.price }}</p>
          <p>Type: {{ addon.type }}</p>
          <p>Description: {{ addon.description }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info"
            id="example2_info"
            role="status"
            aria-live="polite"
          >
            Showing 20 for page
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="example2_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item previous disabled"
                id="example2_previous"
              >
                <a
                  aria-controls="example2"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  (click)="previousPage(); $event.preventDefault()"
                  href="/admin/addons?page={{ currentPage }}"
                  >Previous</a
                >
              </li>
              <li
                *ngFor="let page of pageNumber"
                class="paginate_button page-item"
                [ngClass]="page == currentPage ? 'active' : ''"
              >
                <a
                  href="/admin/addons?page={{ page }}"
                  aria-controls="example2"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  (click)="
                  getNextPageAddons(page); $event.preventDefault()
                  "
                  >{{ page }}</a
                >
              </li>
              <li class="paginate_button page-item next" id="example2_next">
                <a
                  aria-controls="example2"
                  data-dt-idx="7"
                  tabindex="0"
                  class="page-link"
                  (click)="nextPage(); $event.preventDefault()"
                  href="/admin/addos?page={{ currentPage }}"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </router-outlet>
</app-layout>
