<div class="wrapper">
  <app-header></app-header>
  <app-side-bar></app-side-bar>
  <ng-content select="router-outlet"></ng-content>
  <app-footer *ngIf="!authenticationService.isLogin()"></app-footer>
</div>
