<app-layout>
  <router-outlet>
    <div
      class="content-wrapper"
      *ngIf="servicesID && serviceDetails.length > 0"
    >
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Users</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Time Taken</th>
                <th>Price</th>
                <th>User Type</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let serviceDetail of serviceDetails;
                  let indexOfElement = index
                "
              >
                <td>{{ serviceDetail.response.name }}</td>
                <td>{{ serviceDetail.response.description }}</td>
                <td>
                  From{{ serviceDetail.response.timeTaken.from }} - To
                  {{ serviceDetail.response.timeTaken.to }}
                </td>
                <td>{{ serviceDetail.response.price }}</td>
                <td>{{ serviceDetail.response.type }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->

        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info"
              id="example2_info"
              role="status"
              aria-live="polite"
            >
              Showing 20 for page
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="example2_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="example2_previous"
                >
                  <a
                    aria-controls="example2"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    (click)="previousPage(); $event.preventDefault()"
                    href="/admin/services?page={{ currentPage }}"
                    >Previous</a
                  >
                </li>
                <li
                  *ngFor="let page of pageNumber"
                  class="paginate_button page-item"
                  [ngClass]="page == currentPage ? 'active' : ''"
                >
                  <a
                    href="/admin/services?page={{ page }}"
                    aria-controls="example2"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    (click)="
                      getNextPageServicesId(page); $event.preventDefault()
                    "
                    >{{ page }}</a
                  >
                </li>
                <li class="paginate_button page-item next" id="example2_next">
                  <a
                    aria-controls="example2"
                    data-dt-idx="7"
                    tabindex="0"
                    class="page-link"
                    (click)="nextPage(); $event.preventDefault()"
                    href="/admin/services?page={{ currentPage }}"
                    >Next</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </router-outlet>
</app-layout>
