@import '../node_modules/ngx-toastr/toastr.css';

.form-group-error {
  border: 1px solid red !important;
}


.input-icon-check {
  height: 48px;
  background-image: url(/assets/images/check-in.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100px;
  position: absolute;
  top: 26px;
  right: 0px;
}
